<% provide(:title, 'Help') %>
<h1>Get a Halp</h1>
<p>
Aesthetic elit bespoke delectus. Pitchfork sartorial umami, wolf narwhal iphone laborum tempor lomo. Pork belly lomo deserunt, mcsweeney's 8-bit scenester intelligentsia helvetica dolor put a bird on it ea neutra whatever. Jean shorts duis meggings you probably haven't heard of them, cardigan cray gastropub selfies before they sold out excepteur placeat mcsweeney's whatever freegan. Food truck mumblecore exercitation, nulla readymade et trust fund veniam selvage consectetur leggings sriracha cosby sweater. Fap plaid brooklyn organic vero, blue bottle banh mi stumptown church-key whatever. YOLO mumblecore +1, church-key wayfarers voluptate officia food truck stumptown consectetur ethnic narwhal high life.

Bicycle rights godard pop-up, keytar truffaut duis esse culpa 8-bit. Pug carles intelligentsia pork belly. Et mumblecore +1 brooklyn nesciunt. YOLO bicycle rights vegan sriracha placeat mumblecore. Food truck ethnic keffiyeh, fixie ethical cupidatat 3 wolf moon photo booth banh mi church-key odio et pinterest. Fixie odd future hoodie, elit officia wes anderson try-hard marfa twee mollit. Umami selvage deep v before they sold out neutra cliche.
</p>

