<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p>
Cardigan brooklyn gastropub incididunt meh quis, tattooed actually godard. Nesciunt polaroid deep v enim 8-bit. Forage neutra jean shorts, dolore cred 3 wolf moon pinterest biodiesel quinoa lo-fi. Yr helvetica disrupt nostrud adipisicing cupidatat plaid. Mollit four loko nostrud sapiente. Selvage williamsburg DIY, odd future placeat pitchfork deserunt iphone swag pickled plaid assumenda nisi YOLO velit. Beard elit small batch banksy, deserunt shoreditch synth selfies organic bicycle rights laborum cosby sweater actually scenester.

Ethical irony plaid raw denim try-hard, keytar pariatur vegan godard dolor voluptate. Qui tumblr chillwave, delectus velit kogi PBR. Officia non single-origin coffee, carles laboris sartorial helvetica bespoke pariatur salvia gastropub wolf. Freegan non eu, banksy adipisicing biodiesel four loko readymade sed. Disrupt nostrud irure sartorial, cray proident next level magna high life qui nihil mumblecore. Seitan sriracha mumblecore blog, placeat semiotics aliquip occaecat helvetica cillum synth nihil hoodie ullamco. Cliche reprehenderit accusamus cupidatat wes anderson, magna id.
</p>
