<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>Sample App</h1><br>
  <p>
  Cardigan brooklyn gastropub incididunt meh quis, tattooed actually godard. Nesciunt polaroid deep v enim 8-bit. Forage neutra jean shorts, dolore cred 3 wolf moon pinterest biodiesel quinoa lo-fi. Yr helvetica disrupt nostrud adipisicing cupidatat plaid. Mollit four loko nostrud sapiente. Selvage williamsburg DIY, odd future placeat pitchfork deserunt iphone swag pickled plaid assumenda nisi YOLO velit. Beard elit small batch banksy, deserunt shoreditch synth selfies organic bicycle rights laborum cosby sweater actually scenester.
  </p>

  <%= link_to "Sign up now!", "#", class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
